//! **************************************************************************
// Written by: Map P.58f on Sat Apr 26 19:20:36 2014
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

